@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 
 *{
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, sans-serif;
 }

 /* TOP NAV START */
header{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    z-index:99;
   
background:rgba(10, 10, 10, 0.774);
 }

 
#chk1{
    display:none;

 }




 #bars{
    color:white;
   
 }

#banner-icon{
  font-size:medium;
  color:white;
  opacity:50%;
}

 header .logo{
    flex:1;
    color:white;
    margin-left:50px;
    text-transform:uppercase;
    font-size:10px;
 }

 #brand {
  color:white;
 font-weight:600;
    text-transform:uppercase;
    font-size:18px;
    list-style:none;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
 }



 header ul{
flex:2;
display:flex;
justify-content:space-evenly;
}

header ul li {
    list-style:none;
}

header ul li a {
    text-decoration:none;
    color:rgb(163, 163, 163);
    font-weight:600;
    text-transform:uppercase;
    padding: 15px;
}




.nav:hover {
  color:rgba(255, 255, 255, 0.911);
  transition:0.5s;
  }

.nav{
    font-size:small;
}

#active{
    color: rgb(250, 179, 93);
}

#banner-icon:hover{
  opacity:70%;
transition:0.5s;
}

a i {
    font-size:small;
}

header .menu{
font-size:1.5em;
display:none;

}

#bars{
    cursor: pointer;
}
/* TOP NAV END */





 .bannerPhoto{   /* BANNER photo*/
 height:100%;
 width:100%;
background-image:url('/images/pexels-pixabay-236730.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position:center;
position:absolute;


}
 



.dimbanner{  /* BANNER photo dimmer*/
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.596);
    position:absolute;
    overflow: hidden;
}


.ObscureDiv{
  height:350%;
    width:70%;
   
    position:absolute;
    right:0%;
    transform:rotate(35deg);
}

/*
.SecNav{
  background-color: white;
  width:100%;
  height:20%;
  position:absolute;
  border-bottom: 2px solid #e6e600;
}
*/




  
/*banner inner text start*/
.slider_section .btn-box .btn-1 {
  display: inline-block;
  padding: 12px 45px;
  background-color: #ffff00;
  color: #050505;
  border-radius: 0;
  text-transform: uppercase;
  margin-right: 10px;
}

.slider_section .btn-box .btn-1:hover {
  background-color: #e6e600;
}

.slider_section .btn-box .btn-2 {
  display: inline-block;
  padding: 12px 42px;
  background-color: #fefdfc;
  color: #050505;
  border-radius: 0;
  text-transform: uppercase;
}

.slider_section .btn-box .btn-2:hover {
  background-color: #f8f0e9;
}


.slider_section {
overflow: hidden;
  width:70%;
  margin:auto;
  padding-top: 120px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  height: 95%;

}

.sliderheader
{  
  color:#ffff00;
  font-size:40px;

  }


.sliderpara
{
  color:white;
  padding-bottom:10px;  
  padding-top:50px;  
}

.sliderpara2
{
  color:white;
  
  padding-bottom:50px;  
}
/*banner inner text end*/









  /* TOP NAV MEDIA QUERY START */
@media(max-width:1000px){
    header ul{
        position:fixed;
        top:100px;
        right:-100%;
        background:rgba(0, 0, 0, 0.959);
        height:calc(100vh - 100px);
        width:50%;
        flex-direction:column;
        align-items:center;
        transition:right 0.5s linear;
    }

    header .menu{
        display:block;
width:100px;
text-align:center;
    }

    #chk1:checked ~ ul{
        right:0;
    }
}

@media(max-width:600px){
    header .logo{
        font-size:9px;
        margin-left:8px;
    }
 header ul{
    width:100%;
 }
}
 /* TOP NAV MEDIA QUERY END */



